body {
  background-color: #644cd3;
  font-family: cursive;
  color: white;
}

table {
  background-color: #d7c9c9;
  background: rgba(215, 201, 201, 0.4);
  color: white !important;
  font-family: cursive;
  font-size: 20px;
  border-radius: 8px;
}



img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

h1 {
  font-size: 50px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
